
<form action="/square_root/results">
<label for="square_root">Enter a number</label>
<input id="square_root" type="text" name="users_number" placeholder="what number do you want to calculate">
<div><button>Calculate square root</button></div>


</form>
