<h1>calculate the square of a number</h1>
<form action="/square/results">
<div><label for="square">Enter a number</label></div>
<input id="square" type="text" name="users_number" placeholder="what number do you want to calculate">
<div><button>Calculate square</button></div>


</form>
